.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 30px;
    min-width: 74px;
    margin: 0;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.045em;
    background: rgba(212,212,211,1);
    background: linear-gradient(0deg, rgba(0,0,0,0.22) 1%, rgba(212,212,212,0.22) 100%);
    border: 0;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }

    &:focus,
    &:active {
        outline: 0;
        box-shadow: 0 0 0 2px rgba(darken(rgba(212,212,211,1), 10%), 0.25);
    }

    &--blue {
        min-width: 78px;
        color: #FFF;
        background: rgb(31,118,240);
        background: linear-gradient(0deg, rgba(31,118,240,1) 0%, rgba(107,161,243,1) 100%);

        &:focus,
        &:active {
            box-shadow: 0 0 0 2px rgba(darken(rgba(31,118,240,1), 10%), 0.25);
        }
    }
}
